@import url(https://fonts.googleapis.com/css?family=Chakra+Petch:bold,bold-itallic);
html
{
      scroll-behavior: smooth;
        font-family: 'Chakra Petch', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    background: #0e0b16;
    color: #e7dfdd;
    font-family: 'Chakra Petch', sans-serif;
}

.background
{
    background: #0e0b16;
    color: #e7dfdd;
}
#NavBarThing
{
    z-index: 3;
    position: sticky;
    top: 0;
}
.tableMain
{
    margin: auto;
    width: 100%;
    transition: 2s;
}
#planetcanv{
    text-align: center;
    margin: auto;
    background: black;
    align-self: center
}
.tableMain:hover
{
    -webkit-box-shadow:0px 0px 77px 0px #a239ca ;
-moz-box-shadow:0px 0px 77px 0px #a239ca ;
box-shadow:0px 0px 77px 0px #a239ca ;
}
.tableMain td
{
    padding: 25px 25px 25px 25px;
}
.tableMain tr
{
    background:-webkit-linear-gradient(90deg, rgb(37, 29, 58) 0%, rgb(41, 29, 71) 87%, rgb(42, 29, 76) 97%);
background:-o-linear-gradient(90deg, rgb(37, 29, 58) 0%, rgb(41, 29, 71) 87%, rgb(42, 29, 76) 97%);
background:-moz-linear-gradient(90deg, rgb(37, 29, 58) 0%, rgb(41, 29, 71) 87%, rgb(42, 29, 76) 97%);
background:linear-gradient(90deg, rgb(37, 29, 58) 0%, rgb(41, 29, 71) 87%, rgb(42, 29, 76) 97%);
}
.background-light
{
    background: #251d3a;
    color: #e7dfdd;
}
.button 
{
    background: #4717f6;
    color: #e7dfdd;
}
a:visited
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
}
a
{
    text-decoration: none;
}
/*#a239ca*/
nav a:hover+#search00 {
        visibility: visible;
        width: 150px;
    }
    #search00:hover {
        visibility: visible;
        width: 150px;
    }
    #search00 {
        visibility: hidden;
        width: 0px;
        transition: .25s;
    }
    nav a {
        padding: 10px;
        
        /*color: #e3e6ea;*/
    }
    
#content
{
    background: #0e0b16;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 25px;
    margin: auto;
    text-align: center;
}
#content p 
{
    padding-left: 25px;
    font-size: 21px;
    text-align: left;
}
.content
{
    padding-left: 25px;
    font-size: 21px;
    text-align: left;
}
.contentcenter
{
    padding-left: 25px;
    font-size: 21px;
    text-align: center;
    align-content: center;
}
.contentcenter .geDiagramContainer{
    align-self: center;
    vertical-align: center;
    margin: auto;
}
.sectorList
{
    width: 75%;
    text-align: center;
    margin: auto;
}
.mainLink 
{
    font-size: 26px;
    text-align: center;
    transition: .15s;
    padding: 15px 15px 15px 15px;
}
.mainLink:hover
{
    font-size: 32px;
}
.center
{
    text-align: center;
}
.title
{
    text-align: center;
    margin: auto;
}
